* {
  margin: 0;
  padding: 0;
}

.welcome {
  padding: 0 24px 0 24px;
  display: flex;
  // justify-content: space-between;
  margin: 16px 0;

  div p:first-child {
    font-size: 16px;
    margin-bottom: 0px;
  }

  div p:nth-child(2) {
    font-size: 20pdx;
    color: #6673bb;

    span {
      color: #ff9665;
    }
  }
}

.fire {
  padding: 0.25rem 0.5rem;
  background-color: #ffffff;
  height: fit-content;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  margin-left: auto;
}

.outline {
  border: 1px solid #ff9665;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.14rem;

  svg {
    color: #ff9665;
  }
}
